*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
h1 {

    text-align: right;
    margin-top: 20px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    text-align: center;
    justify-content: center;
    width: 80%;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
nav {
    width: 140%;
    background-color: rgb(17, 91, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
img Logo {
    display: flex;
    justify-content: left;
    align-items: left;
    border-style: circle;
}
img Usuário {
    
    border-style: circle;
    margin: right 20px;
}
    
form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 6px;
}
section img {
    display: inline-block;
    border-radius: 10px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}
footer {
    width: 135%;
    height: 55px;
    background-color: rgb(17, 91, 141);
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    display: flexbox;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 15px;
}